.contente{
    position: fixed;
    width: 100%;
    height: 100vh;

    .title{
        width: 100%;
        height: 20rem;
        display: grid;
        place-items: center;

        h1{
            font-family: 'Orsay';
            font-weight: 400;
            font-size: 6rem;
        }
    }
}